# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
backup/
fhir*/
content/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
playbook2/example_data/AllergyIntolerance-lactose.json
playbook2/example_data/AllergyIntolerance-noneknown.json
playbook2/example_data/AllergyIntolerance-penicillin.json
playbook2/example_data/Condition-ckd.json
playbook2/example_data/Condition-condition-masked.json
playbook2/example_data/Condition-noknown.json
playbook2/example_data/Condition-uti.json
playbook2/example_data/Encounter-covid-admin-1.json
playbook2/example_data/Encounter-discharge-1.json
playbook2/example_data/Encounter-telehealth.json
playbook2/example_data/HealthcareService-murrabit-crisis-hotline.json
playbook2/example_data/HealthcareService-physiotherapy.json
playbook2/example_data/Immunization-covid-1.json
playbook2/example_data/Immunization-zoster-notgiven.json
playbook2/example_data/Location-bobrester-medical-center.json
playbook2/example_data/Location-murrabit-hospital.json
playbook2/example_data/Location-patient-home.json
playbook2/example_data/Medication-1active-ingredient.json
playbook2/example_data/Medication-2active-ingredients.json
playbook2/example_data/Medication-simvastatin.json
playbook2/example_data/MedicationRequest-paracetamol-codeine.json
playbook2/example_data/MedicationRequest-reaptan.json
playbook2/example_data/MedicationRequest-simvastatin.json
playbook2/example_data/MedicationStatement-active-bisoprolol.json
playbook2/example_data/MedicationStatement-completed-bactrim.json
playbook2/example_data/MedicationStatement-completed-chloramphenicol.json
playbook2/example_data/MedicationStatement-previous-use-diflucan.json
playbook2/example_data/Observation-bloodpressure-1.json
playbook2/example_data/Observation-bloodpressure-data-absent.json
playbook2/example_data/Observation-bodyheight-1.json
playbook2/example_data/Observation-bodytemp-1.json
playbook2/example_data/Observation-bodyweight-1.json
playbook2/example_data/Observation-hearing-threshold-1.json
playbook2/example_data/Observation-heartrate-1.json
playbook2/example_data/Observation-lipid-hdl-1.json
playbook2/example_data/Observation-lipid-ldl-1.json
playbook2/example_data/Observation-lipid-total-chol-1.json
playbook2/example_data/Observation-lipid-triglyceride-1.json
playbook2/example_data/Observation-observation-masked.json
playbook2/example_data/Observation-pathresult-covid-1.json
playbook2/example_data/Observation-pulserate-1.json
playbook2/example_data/Observation-resprate-1.json
playbook2/example_data/Observation-smokingstatus-current-smoker.json
playbook2/example_data/Observation-waistcircum-1.json
playbook2/example_data/Organization-bobrester-medical-center.json
playbook2/example_data/Organization-mitchells-hill-audiology.json
playbook2/example_data/Organization-murrabit-hospital.json
playbook2/example_data/Patient-banks-mia-leanne.json
playbook2/example_data/Patient-bennelong-anne.json
playbook2/example_data/Patient-howe-deangelo.json
playbook2/example_data/Patient-ronny-irvine.json
playbook2/example_data/Patient-wang-li.json
playbook2/example_data/Practitioner-bobrester-bob.json
playbook2/example_data/Practitioner-chau-fryer.json
playbook2/example_data/Practitioner-darleen-mackay.json
playbook2/example_data/Practitioner-sallie-sutherland.json
playbook2/example_data/PractitionerRole-bobrester-bob-gp.json
playbook2/example_data/PractitionerRole-cardiologist-sallie-sutherland.json
playbook2/example_data/PractitionerRole-nephrologist-darleen-mackay.json
playbook2/example_data/PractitionerRole-surgeon-chau-fryer.json
playbook2/example_data/Procedure-dialysis.json
playbook2/example_data/Procedure-stentinsertion.json
playbook2/example_data/RelatedPerson-banks-mia-leanne-father.json
playbook2/example_data/RelatedPerson-wang-li-friend.json
playbook2/example_data/Specimen-nasoswab.json
