services:
  # web gateway container
  webgateway:
    image: containers.intersystems.com/intersystems/webgateway:latest-cd
    container_name: webgateway-vecdb
    hostname: webgateway-vecdb
    ports:
    - "50080:80"
    # No benefit to using "Durable %SYS" for Web Gateway in a
    # development environment.
    environment:
    - ISC_CSP_CONF_FILE=/webgateway-shared/CSP.conf 
    - ISC_CSP_INI_FILE=/webgateway-shared/CSP.ini
    volumes:
    - type: bind
      source: ./webgateway
      target: /webgateway-shared


  iris:
    image: containers.intersystems.com/intersystems/iris:latest-cd
    container_name: iris-vecdb
    hostname: iris-vecdb
    ports:
    - "51773:1972"
    dns_search:
      - iscinternal.com
    environment: 
      - ISC_DATA_DIRECTORY=/irisdata/irissys
    volumes:
    - type: bind
      source: ./irisdata
      target: /irisdata
    command: --key /irisdata/key/iris-arm64.key --check-caps false --ISCAgent false 